@media(min-width:767px) and (max-width:1399px) {
    /* INDEX STYLES */
    #index-hero {
        margin: 35px 0px;
        padding: 0px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    #index-title {
        margin-left: 10px;
        font-size: 55pt;
    }
    #bar {
        margin: 5px 20px;
        width: 2px;
        height: 95px;
        border: 3px solid white;
    }
    #index-subtitle {
        font-size: 27pt;
        margin-right: 5px;
    }
    /* END INDEX STYLES */
    /* SIGN UP STYLES*/
    #signup-form {
        margin: 10px 50px;
        padding: 15px;
    }
    #signin-instead {
        margin-left: 50px;
    }
    /* END SIGN UP STYLES */






}