:root {
    --primary-dark: #000;
    --primary-light: #FFF;
    --primary-red: #E02424;
    --secondary-red-dark: #A60909;
    --secondary-red-light: #FB5F5F;
    --primary-green: #44EB2A;
    --secondary-green-light: #67EF51;
    --secondary-green-dark: #1FE600;
    --secondary-green-lighter: #8FF57F;
    --secondary-green-darker: #1BC700;
    --primary-purple: #7B37DA;
    --secondary-purple-light: #925AE2;
    --secondary-purple-dark: #6212D1;
    --secondary-purple-lighter: #AF84EC;
    --secondary-purple-darker: #4A0AA3;

}
*{
    box-sizing: border-box;
    font-family: Poppins;
}
body {
    border: 0px;
    margin: 0px;
}

/* BASE TEMPLATE - base container and navbar */
.base-container{
    display: flex;
    flex-wrap: wrap;
}
.navb {
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-dark);

}
.navb a {
    text-decoration: none;
    color: var(--primary-light);
    margin: 0px 0px 0px 20px;
}
.navb a:hover {
    text-decoration: none;
    color: var(--primary-purple);
}
.nav-list {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0px;
    padding: 0px;
}
.nav-list a li {
    color: var(--primary-light);
    margin: 0px 10px 0px 0px;
}
.nav-list a:hover li{
    text-decoration: none;
    color: var(--primary-purple);
}
.logo {
    font-size: 17pt;

}
/* END BASE TEMPLATE STYLES*/
/* NAV SMALL STYLES */
.navs {
    display: flex;
    width: 100%;
    align-items: center;
    background-color: var(--primary-purple);
}
.navs ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.navs ul a {
    text-decoration: none;
    margin: 0px;
    padding: 10px;
}
.navs ul a li {
    color: white;
}
.navs ul a:hover li{
    color: var(--primary-green);
}
/* END NAV SMALL STYLES*/
/* GENERIC STYLING CLASSES */
.page-title {
    margin-top: 5px;
    width: 100%;
    text-align: center;
    font-size: 38pt;
}
.page-content {
    margin: 10px;
}

.form-input {
    padding: 5px;
    margin: 5px 2px;
    border-radius: 10px;
    border: 1px solid gray;

}
.form-input:focus {
    box-shadow:0px 0px 3px 2px var(--primary-green);
}
.submit-button {
    margin-top: 10px;
    padding: 5px 0px;
    width: 200px;
    color: white;
    background-color: var(--primary-green);
    border: 1px solid var(--primary-green);
    border-radius: 30px;
    text-decoration: none;
    text-align: center;
    margin-bottom: 25px;
    font-size: 110%;
}
.submit-button:hover {
    border: 1px solid var(--secondary-green-dark);
    background-color: var(--secondary-green-dark);
    text-decoration: none;
    color: var(--primary-light);
}
.back-to-home-button {
    width: 150px;
    background-color: var(--primary-purple);
    border: 1px solid var(--primary-purple);
    border-radius: 30px;
    color: var(--primary-light);
    text-align: center;
    text-decoration: none;
    margin-top: -15px;
    padding: 5px;
}
.back-to-home-button:hover {
    text-decoration: none;
    color: var(--primary-light);
    background-color: var(--secondary-purple-dark);
    border: 1px solid var(--secondary-purple-dark);
}
.add-button {

    border: 1px solid var(--primary-green);
    background-color: var(--primary-green);
    border-radius: 30px;
    color: var(--primary-light);
    text-decoration: none;
    font-size: 80%;
}
.add-button:hover{
    color:var(--primary-light);
    text-decoration: none;
    border: 1px solid var(--secondary-green-dark);
    background-color: var(--secondary-green-dark);
}
.remove-button {
    font-size: 75%;
    color: var(--primary-light);
    background-color: var(--primary-red);
    border: 1px solid var(--primary-red);
    border-radius: 30px;
    text-decoration: none;
}
.remove-button:hover {
    color:var(--primary-light);
    text-decoration: none;
    border: 1px solid var(--secondary-red-dark);
    background-color: var(--secondary-red-dark);
}
/* END GENERIC STYLING CLASSES */
/* INDEX STYLES */
#index-container {
    background-color: var(--primary-dark);
    margin: 0px;
    padding: 0px;
    width: 100vw;
}
#index-container h1, h2, span, a {
    color: var(--primary-light);
}
#signup-or-signin-box {
    margin: 100px 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
#signup-or-signin-box p {
    color: var(--primary-light);
}
.p1 {
    font-size: 24pt;
}
.p2 {
    font-size: 18pt;
}
#index-subtitle strong {
        font-size: 130%;
        color: var(--primary-green);
}
.signuplink {
    padding: 8px 35px;
    color: white;
    text-decoration: none;
    font-family: 'Nova Square';
}
#signup-button {
    font-size: 18pt;
    border: 1px solid var(--primary-green);
    border-radius: 30px;
    background: var(--primary-green);
    margin-bottom: 30px;
}
#signin-button {
    padding: 6px 25px;
    font-size: 14pt;
    border: 1px solid var(--primary-purple);
    border-radius: 30px;
    background: var(--primary-purple);
}
.signuplink:hover {
    color: white;
    text-decoration: none;
}
#signup-button:hover {
    background: var(--secondary-green-dark);
    border:1px solid var(--secondary-green-dark);
}
#signin-button:hover {
    background:var(--secondary-purple-dark);
    border: 1px solid var(--secondary-purple-dark);
}
/* END INDEX STYLES */
/* SIGN UP/ SIGN IN STYLES */
.form {
    width: 100%;
    border: 1px solid var(--primary-dark);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.form div {
    display: flex;
    justify-content: center;
}
#fname, #lname, #pass, #confpass {
    width: 50%;
}
#email {
    width: 100%;
}
.form label {
    margin: 7px 0px 0px 5px;
}


/* END SIGN UP/ SIGN IN STYLES */
/* HOME STYLES */
#home-hero {
    width: 100vw;
    padding: 25px 0px;
    background-color: var(--primary-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#home-hero p, h3 {
    color: var(--primary-light);
}
#home-hero h2 strong {
    color: var(--primary-green);
    font-size: 110%;
}
#start-workout-button {
    width: 200px;
    padding: 7px 0px;
    margin-top: 30px;
    font-size: 110%;
}
#create-workout-secondary-button {
    width: 170px;
    background-color: var(--primary-purple);
    border: 1px solid var(--primary-purple);
    margin-top: -10px;
}
#create-workout-secondary-button:hover {
    background-color: var(--secondary-purple-dark);
    border: 1px solid var(--secondary-purple-dark);
}

/* END HOME STYLES*/
/* CREATE WORKOUT STYLES */
#create-workout-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 35px;
    align-items: center;
}
#create-workout-container h2, h3{
    color: var(--primary-dark);
}
#create-workout-steps-list {
    margin: 0px;
    padding: 0px;
}
#create-workout-steps-list li{
    margin: 3px 5px;
}
#tentative-workout-container {
    margin: 20px 0px;
    border-top: 1px solid var(--primary-purple);
    border-bottom: 1px solid var(--primary-purple);
}
#existing-exercise-list-title {
    color: var(--primary-dark);
}


/* END CREATE WORKOUT STYLES */