:root {
    --primary-dark: #000;
    --primary-light: #FFF;
    --primary-red: #E02424;
    --secondary-red-dark: #A60909;
    --secondary-red-light: #FB5F5F;
    --primary-green: #44EB2A;
    --secondary-green-light: #67EF51;
    --secondary-green-dark: #1FE600;
    --secondary-green-lighter: #8FF57F;
    --secondary-green-darker: #1BC700;
    --primary-purple: #7B37DA;
    --secondary-purple-light: #925AE2;
    --secondary-purple-dark: #6212D1;
    --secondary-purple-lighter: #AF84EC;
    --secondary-purple-darker: #4A0AA3;

}
*{
    box-sizing: border-box;
    font-family: Poppins;
}
body {
    border: 0px;
    margin: 0px;
}

/* BASE TEMPLATE - base container and navbar */
.base-container{
    display: flex;
    flex-wrap: wrap;
}
.navb {
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-dark);
    width: 100%;
}
.navb a {
    text-decoration: none;
    color: var(--primary-light);
    margin: 0px 0px 0px 20px;
}
.navb a:hover {
    text-decoration: none;
    color: var(--primary-purple);
}
.nav-list {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px 5px 0px 0px;
    padding: 0px;
}
.nav-list:last-child{
    padding-right: 5px;
}
.nav-list a li {
    color: var(--primary-light);
    margin: 0px 0px 0px 0px;
    padding: 0px 5px 0px 0px;
    text-align: center;
}
.nav-list a:hover li{
    text-decoration: none;
    color: var(--primary-purple);
}
.logo {
    font-size: 17pt;

}
/* END BASE TEMPLATE STYLES*/
/* NAV SMALL STYLES */
.navs {
    display: flex;
    width: 100%;
    align-items: center;
    background-color: var(--primary-purple);

}
.navs ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.navs ul a {
    text-decoration: none;
    margin: 0px;
    padding: 10px;
}
.navs ul a li {
    color: white;
    padding: 0px;
    margin: 0px;
}
.navs ul a:hover li{
    color: var(--primary-green);
}
/* END NAV SMALL STYLES*/
/* GENERIC STYLING CLASSES */
.page-title {
    margin-top: 15px;
    padding: 0px;
    width: 100%;
    text-align: center;
    font-size: 38pt;
}
.page-title-dark{
    padding: 0px;
    margin-top: 15px;
    width: 100%;
    text-align: center;
    font-size: 38pt;
    color: var(--primary-dark);
}
.page-title strong, .page-title-dark strong {
    font-size: 105%;
    color: var(--primary-green);
}
.page-content {
    margin: 10px;
}

.form-input {
    padding: 5px;
    margin: 5px 2px;
    border-radius: 10px;
    border: 1px solid gray;

}
.form-input:focus {
    box-shadow:0px 0px 3px 2px var(--primary-green);
}
.submit-button {
    margin-top: 10px;
    padding: 5px 0px;
    width: 200px;
    color: white;
    background-color: var(--primary-green);
    border: 1px solid var(--primary-green);
    border-radius: 30px;
    text-decoration: none;
    text-align: center;
    margin-bottom: 5px;
    font-size: 110%;
}
.submit-button:hover {
    border: 1px solid var(--secondary-green-darker);
    background-color: var(--secondary-green-darker);
    text-decoration: none;
    color: var(--primary-light);
}
.back-to-home-button {
    width: 150px;
    background-color: var(--primary-purple);
    border: 1px solid var(--primary-purple);
    border-radius: 30px;
    color: var(--primary-light);
    text-align: center;
    text-decoration: none;
    padding: 5px;
    margin: 0px 0px 5px 0px;
}
.back-to-home-button:hover {
    text-decoration: none;
    color: var(--primary-light);
    background-color: var(--secondary-purple-dark);
    border: 1px solid var(--secondary-purple-dark);
}
.add-button {

    border: 1px solid var(--primary-green);
    background-color: var(--primary-green);
    border-radius: 30px;
    color: var(--primary-light);
    text-decoration: none;
    font-size: 80%;
    padding: 1px 10px;
}
.add-button:hover{
    color:var(--primary-light);
    text-decoration: none;
    border: 1px solid var(--secondary-green-darker);
    background-color: var(--secondary-green-darker);
}
.remove-button {
    padding: 1px 8px;
    font-size: 80%;
    color: var(--primary-light);
    background-color: var(--primary-red);
    border: 1px solid var(--primary-red);
    border-radius: 30px;
    text-decoration: none;
}
.remove-button:hover {
    color:var(--primary-light);
    text-decoration: none;
    border: 1px solid var(--secondary-red-dark);
    background-color: var(--secondary-red-dark);
}
.standard-selection-list {
    list-style: none;
    padding: 0px;
}
.standard-selection-list li {
    margin-top: 4px;
}

/* END GENERIC STYLING CLASSES */
/* INDEX STYLES */
#index-container {
    background-color: var(--primary-dark);
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#index-container h1, h2, span, a {
    color: var(--primary-light);
}
#index-container h1 strong {
    color: var(--primary-green);
    font-size: 105%;
}
#signup-or-signin-box {
    margin: 50px 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#signup-or-signin-box p {
    color: var(--primary-light);
}
.p1 {
    font-size: 24pt;
}
.p2 {
    font-size: 18pt;
}
#index-subtitle strong {
        font-size: 130%;
        color: var(--primary-green);
}
#numWorkoutsDisplay {
    text-align: center;
}
.signuplink {
    padding: 8px 35px;
    color: white;
    text-decoration: none;
    font-family: 'Nova Square';
}
#signup-button {
    font-size: 18pt;
    border: 1px solid var(--primary-green);
    border-radius: 30px;
    background: var(--primary-green);
    margin-bottom: 30px;
}
#signin-button {
    padding: 6px 25px;
    font-size: 14pt;
    border: 1px solid var(--primary-purple);
    border-radius: 30px;
    background: var(--primary-purple);
}
.signuplink:hover {
    color: white;
    text-decoration: none;
}
#signup-button:hover {
    background: var(--secondary-green-darker);
    border:1px solid var(--secondary-green-darker);
}
#signin-button:hover {
    background:var(--secondary-purple-dark);
    border: 1px solid var(--secondary-purple-dark);
}
/* END INDEX STYLES */
/* SIGN UP/ SIGN IN STYLES */

.form {
    width: 100%;
    border: 1px solid var(--primary-dark);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.form div {
    display: flex;
    justify-content: center;
}
#fname, #lname, #pass, #confpass {
    width: 50%;
}
#email {
    width: 100%;
}
.form label {
    margin: 7px 0px 0px 5px;
}
#signin-instead a, #signup-instead a{
        color: var(--primary-purple);
}
#signin-instead a:hover, #signup-instead a:hover{
        color: var(--secondary-purple-darker);
}

/* END SIGN UP/ SIGN IN STYLES */
/* HOME STYLES */
#home-hero {
    width: 100vw;
    padding: 25px 4vw;
    background-color: var(--primary-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#home-hero p, h1, h2, h3 {
    color: var(--primary-light);
}
#home-hero .page-title strong {
    color: var(--primary-green);
    font-size: 110%;
}
#start-workout-button {
    width: 200px;
    padding: 7px 0px;
    margin-top: 75px;
    font-size: 110%;
}
#create-workout-secondary-button {
    width: 170px;
    background-color: var(--primary-purple);
    border: 1px solid var(--primary-purple);
    margin-top: 0px;
    margin-bottom: 0px;
}
#create-workout-secondary-button:hover {
    background-color: var(--secondary-purple-dark);
    border: 1px solid var(--secondary-purple-dark);
}
#numWorkoutsDisplay {
    color: var(--primary-light);
    margin: 50px 0px 0px 0px;
}
/* END HOME STYLES*/
/* CREATE WORKOUT STYLES */
#create-workout-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 35px;
    align-items: center;
}
#create-workout-container h2, h3{
    color: var(--primary-dark);
}
#create-workout-steps-list {
    margin: 0px;
    padding: 0px;
    text-align: center;
    list-style: none;
}
#create-workout-steps-list li{
    margin: 3px 5px;

}
.create-workout-step-button {
    font-size: 115%;
    color: var(--primary-purple);
}
.create-workout-step-button:hover {
    color: var(--primary-green);
}
#tentative-workout-container {
    margin: 20px 0px;
    border-top: 1px solid var(--primary-purple);
    border-bottom: 1px solid var(--primary-purple);
}
#existing-exercise-list-title {
    color: var(--primary-dark);
}
#submit-new-workout-button {
    width: 220px;
    margin-bottom: 5px;
}
.clear-tentative-workout-button {
    margin-bottom: 5px;
    border-radius: 30px;
    border: 1px solid var(--primary-red);
    background-color: var(--primary-red);
    color: var(--primary-light);
    padding: 5px;
    text-decoration: none;
}
.clear-tentative-workout-button:hover {
    border: 1px solid var(--secondary-red-dark);
    background-color: var(--secondary-red-dark);
    text-decoration: none;
    color: var(--primary-light);
}
.double-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
}
/* END CREATE WORKOUT STYLES */
/* VIEW WORKOUT STYLES */
#viewWorkoutsContent {
    width: 100%;
}
#viewWorkoutsContent h1, h2, h3, h4, h5, span, p {
    color: var(--primary-dark);
}
#viewWorkoutsContent strong {
    color: var(--primary-green);
    font-size: 105%;
}
#selectedExerciseView{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 2vw;
    text-align: center;

}
#selectedExerciseView ul{
    text-align: center;
    list-style: none;
    padding: 0px;
    margin: 0px;

}
#selectedExerciseView ul li{
    margin: 0px;
    padding: 0px;
}
#exercise-list {
    margin-bottom: 15px;
}
#exercise-list ul {
    padding: 0px;
    text-align: center;
}
#previous-sets-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#exercise-list h2 strong {
    color: var(--primary-purple);
}
#numberTimesWorkoutsBeenDone {
    margin-top: 15px;
}
#users-workouts {
    width: 100%;
    margin: 15px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#users-workouts ul {
    list-style: none;
}
#users-workouts strong {
    color: var(--primary-purple);
}
#viewworkout-back-to-home-button {
    margin-top: -3px;
}
#previous-seshs-of-this-workout h5 {
    text-align: left;
}


/* END VIEW WORKOUT STYLES */
/* EDIT WORKOUT STYLES */
#edit-workout-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#edit-workout-container h2,h3 {
    text-align: center;
}
#edit-workout-container strong {
    color: var(--primary-green);
}
#edit-workouts-workout-selection {
    display: flex;
    flex-direction: column;
    align-items: center;

}
#change-workout-name-button {
    margin-top: 3px;
    margin-bottom: 0px;
    width: 300px;
}
#add-remove-from-workout-button {
    margin-top: 2px;
    margin-bottom: 15px;
    width: 300px;
}
#change-workout-name-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#change-workout-name-container h2, h3 {
    text-align: center;
}
#change-workout-name-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#new_workout_name {
    width: 300px;
}
#change-workout-name-container form label {
    font-size: 16pt;
}
#update-workout-name-button {
    width: 250px;
}
#back-to-edit-button {
    margin-top: -3px;
}
#alter-exercise-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#alter-exercise-list-container strong {
    color: var(--primary-purple);
}
#alter-exercise-list-container h2, h3, h4 {
    text-align: center;
}
#alter-exercise-list-container ul li {
    display: flex;
    margin: 4px 0px;
}
#alter-exercise-list-container span {
    margin-left: 2px;
}
#addNewExerciseToExistingWorkoutForm {
    width: 85vw;
}
/* EDIT WORKOUT STYLES */
/* DELETE WOROKOUT STYLES */
#delete-workout-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#delete-workout-container h2 {
    text-align: center;
}
/* END DELETE WORKOUT STYLES */
/* START WORKOUT SELECTION STYLES */
#start-workout-selection-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#start-workout-selection-container strong {
    color: var(--primary-purple);
}
#start-workout-selection-container section {
    margin: 5px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#start-workout-title {
    font-size: 26pt;
}
#start-workout-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#start-workout-container ul {
    list-style: none;
}
#start-workout-container ul li {
    margin-bottom: 2px;
    font-size: 14pt;
}
#end-workout-button {
    width: 150px;
}
#set-data-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#set-data-form form {
    width: 50%;
}
#completed-sets-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.last-workout-sets {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px;
}
/* END START WORKOUT SELECTION STYLES */