{% extends 'base.html'%}

{% block content%}
<h1>{% block title %} About Us {% endblock %}</h1>
  <h2>Our Story</h2>
  <p>SwollTech was founded to allow you to track your strength and fitness over time. This allows you to uncover insights
    using real data, and fine tune workouts to achieve maximum results for your efforts. Instead of writing down your
    workouts in notebooks, give SwollTech a try and start to notice patterns and trends in your exercise regimen.</p>
  <p>SwollTech gives you the power to build your own custom workouts that you can reuse or update. It also allows you to
    track your weights or times for each exercise so that you can track your improvement over time. Registering with
    SwollTech allows you to start saving your workout data, and then use data visualization tools to see your progress
    or find patterns and plateaus in your workout plan.</p>
  <p>SwollTech is still in development, so any feedback you have is greatly appreciated. We aim to provide
    the most valuable tool possible in order to allow everyone to optimize their health and fitness. Please
    reach out to masongkrause@yahoo.com with feedback.</p>
{% endblock %}