{% extends 'base.html'%}

{% block content%}

  <h1 class="page-title">{% block title %}About SwollTech{% endblock %}</h1>
  <div class="page-content">
  <p>SwollTech was created to provide free data analytics to help lifters break through plateaus and continue adding weight to the bar.</p>
  <p>We offer visualization tools to view long term progress and uncover trends.</p>
  <p class="mt-3">This app is under development. We want to provide the most valuable tool possible so any feedback you have is greatly appreciated.
    Please reach out to masongkrause@yahoo.com with comments, suggestions, or especially any issues.</p>
  </div>
    {% endblock %}