{% extends 'base.html' %}

{% block content %}
<h1>{% block title %}Add exercises to workout{% endblock %}</h1>
<h2>Workout: {{workout_name}}</h2>
{% if workoutExercises %}
<h4>Current exercise list: </h4>
<ul>
    {% for exercise in workoutExercises %}
    <li class="mt-2"><button class="btn btn-danger btn-sm">Remove</button>{{exercise.exercise_name}}</li>
    {% endfor %}
</ul>
{% endif %}

{% if userExercises%}
<hr>
<h4>Add existing exercises</h4>
<ul>
    {% for ex in userExercises %}
        <li class="mt-2"><button class="btn btn-primary btn-sm" onclick="editWorkoutAddExercise({{ex.exercise_id}})">Add to workout</button> {{ex.exercise_name}} - {{ex.exercise_type_name}}</li>
    {% endfor %}
</ul>
{% endif %}
<hr>
<h4>Create new exercise</h4>
<form>
    <input id="new_exercise_name" name="new_exercise_name" type="text" placeholder="Exercise name" required="required">
    <label for="exercise_type_input">Select Exercise Type:</label>
    <select required="required" id="exercise_type_input">
        <option>Strength</option>
        <option>Cardio</option>
    </select>
    <hr>
    <input type="button" value="Add exercise" class="btn btn-primary" onclick="buildExerciseForWorkout({{workout_id}})">
</form>
{% endblock %}