{% extends 'base.html' %}

{% block  content%}

<h1 class="mb-3">{% block title %} Add exercise to workout{% endblock %}</h1>
{% if existingExercises%}

<ul>
{% for exercise in existingExercises %}

    <li class="mt-2 mb-1">
        <form>
            <input type="button" name="{{exercise.exercise_name}}" onclick="addExercise(name)" class="btn btn-primary btn-sm" value="Add"> - {{exercise.exercise_name}} - {{exercise.exercise_type_name}} exercise from {{exercise.workout_name}}
        </form>
    </li>

    {% endfor %}
</ul>
{% endif%}

{% endblock %}