<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Custom css-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/desktopStyles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/laptopTabletStyles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mobileStyles.css') }}">

      <!-- Fonts -->
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nova+Square">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">

      <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.plot.ly/plotly-2.20.0.min.js" charset="utf-8"></script>
    <title>{% block title %}{% endblock %}</title>
  </head>
  <script src="/static/js/script.js"></script>
  <body>
  <nav class="navb">
        {% if 'user_id' in session%}
        <a class="logo" href="{{ url_for('home')}}">Logo</a>
        {% else %}
        <a class="logo" href="{{url_for('index')}}">Logo</a>
        {% endif %}
        <ul class="nav-list">
            <a href="{{url_for('about')}}"><li>About Us</li></a>

            {% if 'user_id' in session.keys() %}
            <a href="{{url_for('account')}}"><li>Your Account</li></a>
            <a href="{{url_for('logout')}}"><li>Log Out</li></a>

            {% endif %}
        </ul>
  </nav>

  {% if 'user_id' in session.keys() %}
  <nav class="navs">
    <ul>
        <a href="{{url_for('create_workout')}}"><li>Create Workout</li></a>
        <a href="{{url_for('view_workouts')}}"><li>View Workout</li></a>
        <a href="{{url_for('select_edit_workout')}}"><li>Edit Workout</li></a>
        <a href="{{url_for('delete_workout')}}"><li>Delete Workout</li></a>
    </ul>
</nav>
  {% endif %}



    <div class="base-container">
    {% block content%} {% endblock %}
    </div>



    {% if message%}
    <div class="mt-3 container-fluid">
        {% if messageCategory == 'success'%}
        <p class="alert-success">{{message}}</p>
        {% elif messageCategory == 'danger'%}
        <p class="alert-danger">{{message}}</p>
        {% endif %}
    </div>
    {% endif %}


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>