{% extends 'base.html' %}

{% block content %}

<h1>{% block title%}Change Workout Name{% endblock %}</h1>
<h4>Current workout name: {{workout_name}}</h4>

<form method="POST" action="{{url_for('post_change_workout_name')}}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <label for="new_workout_name">New Workout Name</label>
    <input id="new_workout_name" name="new_workout_name" type="text" required="required">
    <div>
        <input type="submit" class="mt-2 btn btn-primary btn-sm" value="Update Workout Name">
    </div>
</form>

<div>
    <a type="button" class="mt-4 btn btn-primary btn-large" href="{{url_for('home')}}">Back to Home</a>
</div>

{% endblock %}