{% extends 'base.html' %}

{% block content %}
<h1>{% block title %}Change Password{% endblock %}</h1>

<form method="POST" action="{{url_for('change_password')}}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <input type="password" placeholder="Current Password" id="curr_password" name="curr_password">
    <input type="password" placeholder="New Password" id="new_password" name="new_password">
    <input type="password" placeholder="Confirm Password" id="conf_new_password" name="conf_new_password">
<div>
    <input type="submit" class="mt-2 btn btn-secondary btn-sm">
</div>
</form>

<a class="mt-4 btn btn-primary btn-large" type="button" href="{{url_for('account')}}">Back To Account</a>

{% endblock %}