{% extends 'base.html' %}

{%block content%}
<h1 class="page-title">{% block title %}Create exercise{% endblock %}</h1>
<form class="form" method="POST">
    <label for="new_exercise_name">Exercise name</label>
    <input class="form-input" id="new_exercise_name" name="new_exercise_name" type="text" required="required">
    <label for="exercise_type_input">Exercise type</label>
    <select class="form-input" required="required" id="exercise_type_input">
        <option>Strength</option>
        <option>Cardio</option>
    </select>
    <div class="double-buttons">
        <input type="button" value="Add exercise" class="submit-button" onclick="createExercise()">
        <a type="button" class="back-to-home-button" href="{{url_for('create_workout')}}">Back To Workout</a>
    </div>
</form>
{% endblock%}