{% extends 'base.html' %}


{% block content %}
<script src="/static/js/script.js" type="text/javascript"></script>
<h1>{% block title %}Create your workout {% endblock %}</h1>

<form method="POST" action="{{url_for('post_create_workout')}}">
    <input type="text" placeholder="Workout Name" id="workout_name" name="workout_name"/>
</form>
    <h4 class="mt-3">Add Exercises</h4>
    <span>Would you like to:</span>
    <ul>
        <li><a role="button" href="{{url_for('add_existing_exercise')}}">Add an existing exercise</a></li>
        <li>Create a new exercise</li>
    </ul>
    {% if tentative_exercise_list %}
    <h3>Tentative exercise list for {{session['workout_name']}}:</h3>
    <ul>
        {% for exName in tentative_exercise_list %}
        <form>
            <li class="mb-2"><input type="button" class="btn-danger" name="{{exName}}" onclick="removeExercise(name)" value="Remove"> - {{exName}}</li>
        </form>
        {% endfor %}

    </ul>
    {% endif %}
    {% if messageCategory == 'danger' %}
    <p class="alert alert-danger">{{message}}</p>
    {% elif messageCategory == 'success' %}
    <p class="alert alert-success">{{message}}</p>
    {% endif %}



{% endblock %}