{% extends 'base.html' %}

{%block content%}
<h1 class="mb-3 text-center">{% block title %}Create exercise{% endblock %}</h1>
<form method="POST">
    <input id="new_exercise_name" name="new_exercise_name" type="text" placeholder="Exercise name" required="required">
    <label for="exercise_type_input">Select Exercise Type:</label>
    <select required="required" id="exercise_type_input">
        <option>Strength</option>
        <option>Cardio</option>
    </select>
    <hr>
    <input type="button" value="Add exercise" class="btn btn-primary" onclick="createExercise()">
</form>
{% endblock%}