{% extends 'base.html' %}

{% block content %}
<h1 class="text-center mb-3">{%block title%}Delete Workout{% endblock %}</h1>

{% if workouts%}
<h2>Select a workout to be deleted:</h2>
<ul>
    {% for workout in workouts %}
        <li class="mt-2">
            <form id="{{workout.workout_id}}" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input class="btn btn-danger btn-sm" name="{{workout.workout_id}}" onclick="setWorkoutToDelete(name)" type="button" value="{{workout.workout_name}}">
            </form>
        </li>
    {% endfor %}
</ul>
{% endif %}
<a type="button" class="mt-4 btn btn-primary btn-lg" href="{{url_for('home')}}">Back To Home</a>

{% endblock %}