{% extends 'base.html' %}

{% block content%}
<h1>{{session['workout_in_progress_name']}} - <b>{% block title %}{{exercise.exercise_name}}{% endblock %}</b></h1>

{% if exercise.exercise_type_id == 1 %}
<h3>Current Set:</h3>
<form method="GET" action="{{url_for('submit_strength_set')}}">
    <input id="numReps" name="numReps" type="number" placeholder="Number of Reps">
    <br>
    <input class="mt-2 mb-2" id="amntWeight" name="amntWeight" type="number" placeholder="Amount of Weight">
    <select id="weightMetric" name="weightMetric">
        <option>lbs</option>
        <option>kg</option>
    </select>

    <div>
    <button type="submit" class="btn btn-primary btn-sm">Submit Set</button>
    </div>
</form>
<hr>
{% elif exercise.exercise_type_id == 2 %}
<h3>Current Set:</h3>
<form method="GET" action="{{url_for('submit_cardio_set')}}">
    <input class="mb-1" type="number" id="distanceAmnt" name="distanceAmnt" placeholder="Amount of Distance" required="required">
    <select id="distanceMetric" name="distanceMetric" required="required">
        <option>Miles</option>
        <option>Kilometers</option>
        <option>Meters</option>
    </select>
    <input type="number" id="duration_amnt" name="duration_amnt" placeholder="Amount of Time" required="required">
    <select id="duration_metric" name="duration_metric" required="required">
        <option>Minutes</option>
        <option>Hours</option>
        <option>Seconds</option>
    </select>
    <div class="mt-2">
        <button type="submit" class="btn btn-primary btn-sm">Submit Set</button>
    </div>
</form>
<hr>
{%endif%}
{% if completedSets %}
<h3>Completed Sets: </h3>
<ul>
    {% for set in completedSets %}
    {% if exercise.exercise_type_id == 1 %}
    <li class="mt-2">
        <button class="btn btn-danger btn-sm mr-1" onclick="deleteSet({{set.s_set_number}})">Delete</button>{{set.number_of_reps}} reps - {{set.weight_amount}} {{set.weight_metric}}
    </li>
    {% elif exercise.exercise_type_id == 2 %}
    <li class="mt-2">
        <button class="btn btn-danger btn-sm mr-1" onclick="deleteSet({{set.c_set_number}})">Delete</button>{{set.distance_amount}} {{set.distance_metric}} - {{set.duration_amount}} {{set.duration_metric}}
    </li>
    {% endif %}
    {% endfor %}
</ul>
<hr>
{% endif %}
{% if last_workout_sets %}
    <h4>Last time you did {{session['workout_in_progress_name']}}</h4>
    <h5>{{last_workout_sets[0].date_of_sesh}}</h5>
    <ol>
        {% for set in last_workout_sets %}

            {% if set.weight_amount %}
                <li>{{set.weight_amount}} {{set.weight_metric}} for {{set.number_of_reps}} reps</li>
            {% elif set.distance_amount %}
                <li>{{set.distance_amount}} {{set.distance_metric}} in {{set.duration_amount}} {{set.duration_metric}}</li>
            {% endif %}
        {% endfor %}
    </ol>
{% else %}
<h4>No previous workout data for this exercise</h4>
<h5>After you complete this workout, your past set data will display here</h5>
{% endif %}

<button onclick="backToWorkout({{session['workout_in_progress_id']}})" class="btn btn-secondary btn-large">Back to Workout</button>
{% endblock %}