{% extends 'base.html' %}
{% block content %}
<div class="text-center">
    <h1>{% block title %} Welcome Home {{ session['fname'] }}{% endblock %}</h1>
    <h2>Lets take a look at your past sessions... </h2>
    {% if seshList %}
        <h3 class="mt-5">You've completed {{numResults}} workouts! Keep it up</h3>
        <ul>
        {% for sesh in seshList %}
            <li class="text-center mt-3 fs-2 fw-bold">{{sesh['date_of_sesh']}} - {{sesh['workout_name']}}</li>
        {% endfor %}
        </ul>
    {% endif %}

</div>
{% endblock %}

