{% extends 'base.html' %}
{% block content %}

<div class="border mt-2">
    <h1 class="text-center mt-2">{% block title %} Welcome Home {{ session['fname'] }}{% endblock %}</h1>
    <h2 class="text-center">Lets take a look at your past sessions... </h2>
    {% if seshList %}
        {% if numResults == 1 %}
        <div class="border mt-5 ml-5 mr-5 mb-5">
            <h3 class=" text-center">You've completed {{numResults}} workout! Keep it up</h3>
            {% endif %}
            {% if numResults > 1 %}
            <h3 class="mt-5 text-center">You've completed {{numResults}} workouts! Keep it up</h3>
            {% endif %}
            <ul>
            {% for sesh in seshList %}
                <li class="text-center mt-3 fs-2 fw-bold">{{sesh['date_of_sesh']}} - {{sesh['workout_name']}}</li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>
<div class="border mt-2">
    <a href="{{url_for('create_workout')}}"><button>Create Workout</button></a>
</div>
{% if message == 'Workout created successfully'%}
<p class="alert-success">{{message}}</p>
<a class="btn btn-primary" href="{{url_for('start_sesh')}}" role="button">Start workout sesh with your new workout?</a>
{% endif %}

{% endblock %}

