{% extends 'base.html' %}

{% block content %}
<h1 class="text-center mb-3">{% block title %}Welcome home {{ session['fname'] }}{% endblock %}</h1>
<button class="btn btn-primary btn-large">Start a Workout Sesh</button>

<div class="mt-2">
    <h2 class="text-center">Lets take a look at your recent progress... </h2>
    <div>
        <h1 class="text-center mt-5 mb-5">GRAPH</h1>
        <!-- Embedded data vizualization tool -->
    </div>


</div>

<nav class="navbar navbar-expand sm bg-light">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('create_workout')}}">Create Workout</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('view_workout')}}">View Workout</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Edit Workout</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('delete_workout')}}">Delete Workout</a>
            </li>
        </ul>
    </div>

</nav>

{% endblock %}

