{% extends 'base.html' %}


{% block content %}
<div id="index-container">
    <section id="index-hero">
        <h1 id="index-title"><b><strong>{% block title %}SwollTech{% endblock %}</strong></b></h1>
        <div id="bar"></div>
        <h2 id="index-subtitle">Applying data analytics to maximize your <strong>gains</strong>.</h2>
    </section>

    <section id="signup-or-signin-box">
        <p class="p1">Create your own workouts, add exercises, and start tracking your data. It's free and easy to get started.</p>
        <a class="signuplink" id="signup-button" href="{{ url_for('get_signup')}}">Get Started</a>
        <p class="p2">Already a member?</p>
        <a class="signuplink" id="signin-button" href="{{ url_for('login')}}">Sign in</a>
    </section>

    <!-- ADD SCREENSHOTS HERE and APP SHOWCASE
    <section>

    </section>
    -->
</div>
{% endblock %}