{% extends 'base.html' %}


{% block content %}

<h1>{% block title %}Sign in to SwollTech{% endblock %}</h1>


<hr>

<form method="POST" action="{{ url_for('login') }}">
    <div class="form-group">
        <label for="username">Email</label>
        <input type="email" name="username" id="username" placeholder="Email" class="form-control" style="min-width:100px;max-width:300px;width:250px">
    </div>
    <div class="form-group">
        <label for="loginpassword">Password</label>
        <input type="password" name="loginpassword" id="loginpassword" placeholder="Password" class="form-control" style="min-width:100px;max-width:300px;width:250px">
   </div>
    <div class="mt-2 form-group">
        <input type="submit" class="btn btn-primary btn-sm" value="Sign in">
    </div>

</form>
<a class="mt-2" href="{{url_for('get_signup')}}">Sign Up instead</a>
{% endblock %}

