{% extends 'base.html' %}


{% block content %}

<h1>Welcome, {% block title %}Log in to SwollTech{% endblock %}</h1>


<hr>

<form method="POST" action="{{ url_for('login') }}">
    <input type="email" name="username" id="username" placeholder="Email">
    <input type="password" name="loginpassword" id="loginpassword" placeholder="Password">
   <div class="mt-2"><input type="submit" class="btn btn-primary btn-sm" content="Log in"></div>

</form>
<a class="mt-2" href="{{url_for('get_signup')}}">Sign Up instead</a>
{% endblock %}

