{% extends 'base.html' %}

{% block content %}

<h1 class="page-title-dark">{% block title %}Name Workout{% endblock %}</h1>
<hr>
<form class="form" id="name-workout-form">
    <label for="workout_name">Workout name</label>
    <input class="form-input" type="text" name="workout_name" id="workout_name" required="required">

    <div class="double-buttons">
        <input class="submit-button" onclick="nameWorkout()" type="button" value="Submit">
        <a class="back-to-home-button" href="{{ url_for('create_workout') }}">Back to Workout</a>
    </div>
</form>

{% endblock %}