{% extends 'base.html' %}


{% block content %}
<script src="static/js/signin_script.js" type="text/javascript"></script>
<h1>{% block title %}Sign in to SwollTech{% endblock %}</h1>

<form action="javascript:;" onsubmit="test()">
    <label for="signin_email_input">Email</label>
    <input type="email" name="signin_email_input" id="signin_email_input">
    <label for="signin_password_input">Password</label>
    <input type="password" name="signin_password_input" id="signin_password_input">

    <input type="submit" content="Sign in">
</form>
{% endblock %}

