{% extends 'base.html' %}

{% block content %}
<h1 class="text-center mb-3">{% block title%}View Workouts{% endblock%}</h1>

{% if users_workouts %}
<h2>Your Workouts:</h2>
    <ul>
        {% for workout in users_workouts %}
            <li class="mb-2">
                <form>
                    <input class="btn btn-secondary" type="button" name="{{workout.workout_id}},{{workout.workout_name}}" value="{{workout.workout_name}}" onclick="viewWorkout(name)">
                </form>
            </li>
        {% endfor %}
    </ul>
{% else %}
<h4 class="mt-5">Hmmm, you don't have any workouts! Head over to <a href="{{url_for('create_workout')}}">Create Workout</a> to get started.</h4>
{%endif%}
{% if exercises %}
<hr>
    <h2>{{workout_name}}</h2>
    <ul>
        {% for exercise in exercises %}
            <li>{{exercise.exercise_name}} - {{exercise.exercise_type_name}}</li>
        {% endfor%}
    </ul>
{% endif %}
{% if last_workout %}

{% endif %}
<a type="button" class="mt-5 btn btn-primary btn-lg" href="{{url_for('home')}}">Back to Home</a>



{% endblock %}