{% extends 'base.html' %}

{% block content %}
<h1 class="text-center mb-3">{% block title%}View Workouts{% endblock%}</h1>

{% if users_workouts %}
<h2>Your Workouts:</h2>
    <ul>
        {% for workout in users_workouts %}
            <li class="mb-2">
                <form>
                    <input class="btn btn-secondary" type="button" name="{{workout.workout_id}},{{workout.workout_name}}" value="{{workout.workout_name}}" onclick="viewWorkout(name)">
                </form>
            </li>
        {% endfor %}
    </ul>
{% else %}
<h4 class="mt-5">Hmmm, you don't have any workouts! Head over to <a href="{{url_for('create_workout')}}">Create Workout</a> to get started.</h4>
{%endif%}
{% if exercises %}
<hr>
    <h2>{{workout_name}}</h2>
    <ul>
        {% for exercise in exercises %}
            <li>{{exercise.exercise_name}} - {{exercise.exercise_type_name}}</li>
        {% endfor%}
    </ul>
{% endif %}
<hr>
{% if workout_name %}
    {% if strength_sets %}
        {% if cardio_sets %}
        <h2>Your previous sets from {{workout_name}}</h2>
        <h3>{{strength_sets[0].date_of_sesh}}</h3>
        <ul>
            {% for set in strength_sets %}
                <li>{{set.exercise_name}}: {{set.weight_amount}} {{set.weight_metric}} for {{set.number_of_reps}} reps</li>
            {% endfor %}
            {% for set in cardio_sets %}
                <li>{{set.exercise_name}}: {{set.distance_amount}} {{set.distance_metric}} in {{set.duration_amount}} {{set.duration_metric}}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% elif strength_sets %}
        <h2>Your previous sets from {{workout_name}}</h2>
        <h3>{{strength_sets[0].date_of_sesh}}</h3>
        <ul>
            {% for set in strength_sets %}
                <li>{{set.exercise_name}}: {{set.weight_amount}} {{set.weight_metric}} for {{set.number_of_reps}} reps</li>
            {% endfor %}
        </ul>
    {% elif cardio_sets %}
        <h2>Your previous sets from {{workout_name}}</h2>
        <h3>{{cardio_sets[0].date_of_sesh}}</h3>
        <ul>
            {% for set in cardio_sets %}
                <li>{{set.exercise_name}}: {{set.distance_amount}} {{set.distance_metric}} in {{set.duration_amount}} {{set.duration_metric}}</li>
            {% endfor %}
        </ul>
    {% else %}
        <h3>You have not completed this workout before. Once you do this workout, you can view your most recent set data here.</h3>
    {% endif %}
{% endif %}
<a type="button" class="mt-5 btn btn-primary btn-lg" href="{{url_for('home')}}">Back to Home</a>



{% endblock %}