{% extends 'base.html' %}

{% block content %}
<h1 class="page-title-dark">{%block title%}Delete Workout{% endblock %}</h1>

{% if workouts%}
<div id="delete-workout-container">
    <h2>Select the workout you'd like to delete</h2>

    <ul class="standard-selection-list">
        {% for workout in workouts %}
            <li>
                <form id="{{workout.workout_id}}" method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <input class="remove-button" name="{{workout.workout_id}}" onclick="setWorkoutToDelete(name)" type="button" value="Delete"><span> - {{workout.workout_name}}</span>
                </form>
            </li>
        {% endfor %}
    </ul>
</div>
{% else %}
<h2>You don't have any workouts to delete... head over to <a href="{{url_for('create_workout')}}">create workout</a> to build your workouts.</h2>
{% endif %}
<div class="double-buttons">
    <a type="button" class="back-to-home-button" href="{{url_for('home')}}">Back To Home</a>
</div>
{% endblock %}