{% extends 'base.html' %}

{% block content %}



<div id="home-hero">
    {% if num_seshs %}
        <h1 class="page-title">Welcome back <strong>{{ session['fname'] }}</strong>, you're getting <strong>Swoll!</strong></h1>

        <h2 id="numWorkoutsDisplay">{{num_seshs}} workouts completed so far, keep it up!</h2>

        <div class="double-buttons">
            <a type="button" id="start-workout-button" class="submit-button" href="{{url_for('select_workout')}}">START WORKOUT</a>
            <a type="button" id="create-workout-secondary-button" class="submit-button" href="{{url_for('create_workout')}}">CREATE WORKOUT</a>
        </div>

        <div id="chart" class="container-fluid align-items-center justify-content-center ">

        </div>
    {% else %}
        <h1 class="page-title">Welcome to SwollTech, <strong>{{ session['fname'] }}</strong>. Let's get <strong>shredded.</strong></h1>
        {% if num_workouts == 0%}

        <a type="button" id="create-workout-primary-button" class="submit-button" href="{{url_for('create_workout')}}">CREATE WORKOUT</a>


            {% else %}
        <div class="double-buttons">
            <a type="button" class="submit-button" href="{{url_for('select_workout')}}">START WORKOUT</a>
            <a type="button" id="create-workout-secondary-button" class="submit-button" href="{{url_for('create_workout')}}">CREATE WORKOUT</a>
        </div>
        {% endif %}

    {% endif %}
</div>
<p>**Detailed exercise history visualization tools will be available soon. For now, be consistent entering in set data for your workouts. The more data you have, the better visualizations and insights you will be able to uncover.</p>

<!--
<script>
    var graphs = {{graphJSON | safe}};
    Plotly.newPlot('chart', graphs, {});
</script>


<script type="text/javascript">

    TESTER = document.getElementById('chart');
    Plotly.newPlot( TESTER, [{
        x: [1, 2, 3, 4, 5],
        y: [1, 2, 4, 8, 16]
    },
    {
        margin: { t: 0 }
    }]);
</script>
-->
{% endblock %}

