{% extends 'base.html' %}

{% block content %}
<h1 class="page-title-dark">{% block title %}{{session['workout_in_progress_name']}}{% endblock %}</h1>
<div id="start-workout-container">
<h2>{{formatted_date_time}}</h2>
{% if exercises %}
    <ul class="standard-selection-list">
        {% for exercise in exercises %}
            {% if session['exercises_with_sets'].get(wo_ex_to_ex[exercise.exercise_name]) == False %}
                <li><button class="add-button" onclick="startExercise('{{exercise.exercise_id}}')">Start</button> {{exercise.exercise_name}}</li>
            {% else%}
                <li><button class="add-button" style="background-color: #925AE2; border: 1px solid #925AE2" onmouseover="this.style.backgroundColor='#6212D1'" onmouseout="this.style.backgroundColor='#925AE2'" onclick="startExercise('{{exercise.exercise_id}}')">Continue</button> {{exercise.exercise_name}}</li>
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}


<button id="end-workout-button" class="clear-tentative-workout-button" onclick="endWorkout()">End Workout</button>
</div>
{% endblock %}